@{
    ViewData["Title"] = "EmployeeLogin";
    string errorMessage = ViewBag.ErrorMessage;
}

<div class="form-group">

    <form  method="post" action="/Login/EmployeeLogin">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <input type="submit" value="Login">
        </div>
        @if (ViewData["ValidateMessage"]!= null )
        {
            <br/>
            <br />
            <label>@ViewData["ValidateMessage"] </label>
            <div class="text-danger">@errorMessage</div>
        }
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}